<!DOCTYPE html>
<html>
    <head>
        <title>Deliverables</title>
        <link rel="stylesheet" href="/css/deliverables.css">
    </head>
    <body>
        <p>Deliverables</p>
        <div id="deliverable">
            <p> Group Presentation Video </p>
            <iframe width="1000" height="600" src="https://www.youtube.com/embed/N0Qy159jCpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="deliverable2">
            <p> Group Project Report</p>
            <iframe width="840px" height="800" src="https://docs.google.com/document/d/e/2PACX-1vT_TiG3bvIUsi3bNKM4KxCyZ5Wa9ZvgjuGLUb8tE5zCk_B6cJ6u6HnHoeiZIiJF0FgJVMSqFQQWYT6e/pub?embedded=true"></iframe>
        </div>
    </body>
</html>