<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
        <link rel="stylesheet" href="/css/signin.css">
    </head>
    <body>
        <div>
            {{#if errorMsg}}
                <h3>{{errorMsg}}</h3>
            {{else}}
                <h3>Enter password to view deliverables</h3>
            {{/if}}
            <body>
                <form id="submission_form" method="post" action="/signin">
                    <label id="password" for="password" placeholder="Enter password here."> Password: </label>
                    <input type="password" name="password" />
                    <br/><br/>
                    <input id="button" type="submit" value="Sign In!" />
                </form>
            </body>
        </div>
    </body>
</html>